body {
  background: grey;
  color: whitesmoke;
}

.mov-display > .row {
  overflow-x: auto;
  /* flex-wrap: nowrap; */
}

.movieCard {
  height: 200px;
  width: 600px;
  background: whitesmoke;
  color: grey;
  display: flex;
  justify-content: start;
  margin: 1rem;
  border-radius: 20px;
  flex-direction: row;
  overflow: hidden;
  padding: none;
}
img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.poster {
  width: 25%;
  height: 100%;
  position: auto;
}

.text {
  width: 65%;
  height: 100%;
  position: auto;
  display: inline-block;
}

p {
  font-size: 5px;
  color: gray;
}

.rating {
  width: 10%;
  height: 100%;
}
